* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgb(175, 106, 205), rgb(14, 4, 4));
    display: flex;
    align-items: center;
    justify-content: center;
}

.product {
    width: 90%;
    max-width: 750px;
    display: flex;
}

.gallery {
    flex-basis: 47%;
    background: rgb(106, 106, 106);
    transform: scale(1.08);
    box-shadow: -10px 5px 19px 2px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
    position: relative;
}

.gallery img {
    width: 100%;
    display: block;
    padding-top: 100px;
}

.details {
    flex-basis: 53%;
    background: rgb(255, 255, 255);
    padding: 40px;
    padding-left: 60px;
    box-shadow: -10px 5px 19px 2px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
}

.details h2 {
    color: rgba(134, 135, 135, 0.534);
    font-size: 30px;
    padding-top: 15px;
    font-weight: 500;
}

.details h3 {
    color: rgb(174, 0, 47);
    padding-left: 150px;
    font-size: 30px;
    margin-top: -33px;
}

.details h4 {
    padding-top: 10px;
    color: rgb(76, 143, 9);
    font-size: 16px;
}

.details ul {
    color: rgba(98, 99, 99, 0.877);
    padding-top: 11px;
}

.details form {
    font-size: 18px;
    font-weight: 400;
}

.size {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.size p {
    margin-right: 10px;
    margin-top: -1px;
    font-size: 19px;
    font-weight: 500;
}

.size {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.size input:checked + span {
    color: rgb(0, 213, 255);
    font-weight: 600;
    font-size: 23px;
}

.size input {
    display: none;
}

.size span {
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.colorsee {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.colorsee p {
    width: 75px;
}

.colorsee span {
    display: inline-block;
   
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 25px;
    cursor: pointer;
}

.colorsee span:last-child {
    margin-right: 0; /* Remove margin on the last element */
}

.c1 {
    background: rgb(245, 29, 29);
}

.c2 {
    background: rgb(56, 115, 244);
}

.c3 {
    background: rgb(41, 153, 13);
}

.c4 {
    background: rgb(0, 0, 0);
}

.colorsee input {
    display: none;
}

.colorsee input:checked + span {
    transform: scale(0.7);
    box-shadow: 0 0 0 4px rgb(0, 0, 0);
}
.quantity{
    display: flex;
    align-items: center;
    margin-top: 20px;
   
}
.quantity p{
    width: 95px;
}
.quantity input{
    background-color: #eee;
    border :0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    width: 50px;
    border-radius: 12px;
}
button {
    background : rgb(2, 55, 114);
    border-radius: 30px;
    width: 100%;
    padding: 10px;
  margin-top: 30px;
  border: 0;
  outline: 0;
   font-size: 17px;
   box-shadow: 0 10px 10px rgba(120, 126, 141, 0.619);
   color: #eee;
   cursor: pointer; 
   transition: background-color 0.3s ease
}
   button:hover {
    background-color: #45a049;
}
button:active {
    background-color: #3e8e41; /* Background color when active */
    transform: scale(0.98); /* Slightly scale down when clicked */
}
.contols{
    position: absolute;
    bottom: 40px;
    right : 20px
}
.btn{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:rgb(98, 97, 98) ;
    margin-left: 80px;
    margin-bottom: 11px;
    box-shadow: 0 0px 10px rgba(187, 185, 185, 0.714);
  
}
.btn.active{
    background-color: rgb(114, 207, 176);
   
}